@charset "UTF-8";

/*RDW (Responsive Web Design)*/

/*Paleta de cores dentro do root*/
:root {
    --cor01: #f2d541;
    --cor01A: #f2d54115;
    --cor02: #d92353;
    --cor02A: #d92353a1;
    --cor03: #60b6bf;
    --cor03A: #60b6bf9d;
    --cor04: #1d803a;
    --cor04A: #1d803b6c;
    --corBaseEscura: #212529;
    --corBaseClara: #788a9c;
    --corTexto: #d4d4d4;
}

@media screen and (min-width: 987px) {
    /*Cabeçalho (Desktop)*/
    header {
        width: 100%;
    }

    /*Esconde o botão que abre e fecha o menu (Desktop)*/
    header button {
        display: none;
    }

    /*Exibe o texto inicial*/
    .intro-desktop {
        display: block;
    }

    .intro-mobile {
        display: none;
    }

    /*Navegação (Desktop)*/
    nav {
        max-height: max-content;
        width: 100%;
    }

    /*Lista (Desktop)*/
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /*Itens da lista (Desktop)*/
    ul li {
        color: white;
    }

    /*Itens da lista ao passar o mouse por cima (Desktop)*/
    ul li:hover {
        background-color: var(--cor02);
    }

    #inicio {
        justify-content: center;
    }

    /*-------------------------------------------------*/
    /*Alinhamento de texto e imagem da sessão sobre (Desktop)*/
    .content-sobre {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        align-items: center;
    }

    .img-sobre img {
        width: 330px;
        height: 330px;
    }

    .txt-sobre {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        height: 400px;
    }

    .midias img {
        width: 50px;
        height: 50px;
        background-color: var(--cor01);
        border: 1px solid var(--cor01);
        border-radius: 50%;
    }

    /*Container que contém os projetos (Desktop)*/
    .container-project {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    /*Projeto (Desktop)*/
    .project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 270px;
        height: 400px;
    }

    /**/
    .project img {
        border-radius: 5px;
        width: 250px;
    }

    .project-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--corTexto);
        height: 100%;
    }

    .project-text p {
        text-align: center;
    }

    .project-text h3 {
        text-align: center;
    }

    .project-text button {
        width: 100%;
    }

    #showProject {
        height: 95vh;
    }

    #certification {
        flex-direction: row;
    }
}
