@charset "UTF-8";

@media screen and (min-width: 987px) {
    #btnMenu {
        display: none;
    }

    nav {
        padding: none;
        max-height: max-content;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #slideP {
        display: none;
    }

    #slideG {
        display: flex;
    }

    .tecnologias {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .tecnologias img {
        display: block;
        animation: none;
    }

    .flex-sobre {
        flex-direction: row;
    }

    .foto-pequena {
        display: none;
    }

    .foto-grande {
        display: block;
        width: 300px;
        border-radius: 1px;
    }

    .flex-projetos {
        flex-direction: row;
    }

    .container-projetos {
        width: 400px;
        margin: 0px 10px;
    }

    .container-texto-projeto {
        height: 150px;
    }
}