@charset "UTF-8";

/*First Mobile*/

*{
    margin: 0px;
    padding: 0px;
    
}

html{
    background-color: #eeeeee;
    width: 100vw;
    height: 100vh;
}

.cabeçalho{
    background-color: #272727;
    margin: 0;
    padding: 0;
}

.cabeçalho #icoMenu{
    display: block;
    border-radius: 50%;
    width: 45px;
    margin: auto;
}

#navegar{
    margin: 0;
    padding: 0;
}

#navegar ul{
    background-color: #272727;
    margin: 0; /* Adicionada esta linha */
}

#navegar ul li{
    background-color: #272727;
    text-align: center;
    padding: 10px 3px;
    margin: 2px 1px 1px 1px;
}

#navegar ul li a{
    color: white;
}

#inicio {
    text-align: center;
}

.container-txt{
    margin: 20px 0;
}

.container-txt p{
    line-height: 1.5em;
}

.container-tec{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-tec div img{
    width: 120px;
    height: 120px;
}

.container-tec div img:hover{
    transform: scale(1.1);
    transition: transform 1s;
}

