@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: monospace;
}

/*Reset de botões*/
button{
    border: none;
    background: none;
}

html{
    background-color: #e7e7e7;
}

header{
    background-color: #282828;
    border-bottom: 1px solid #ffffffad;
    height: 51px;

    position: fixed;
    top: 0%;
    width: 100%;
}

#navegar{
    display: none;
    background-color: #282828e5;
    height: 100vh;
    width: 100%;
    position: fixed;
}

ul li a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    margin: 30px;
    font-size: 2.5em;
    border-radius: 10px;
}

ul li a:hover{
    text-shadow: 1px 1px 5px #ffffff;
    transform: scale(1.1);
    transition: transform 1s;
}

#inicio{
    height: 100vh;
    padding-top: 50px;
}

.container-txt{
    margin: 20px 0px 30px;
    text-align: center;
    line-height: 2em;
}

.container-txt p{
    margin: 10px 0px;
}

.container-tec{
    display: flex;
    text-align: center;

    justify-content: center;
}

.container-tec img{
    width: 120px;
}

.container-tec img:hover{
    transform: scale(1.1);
    transition: transform 1s;
}

.tecs{
    width: 140px;
    margin: 0px 5px;
}

#sobre{
    background-color: black;
    height: 100%;
    padding-top: 30px;
}

#sobre > img{
    display: block;
    border-radius: 50%;
    border: 2px solid #ffffff;
    width: 200px;
    margin: 0px auto 10px auto;
}

#sobre > img:hover{
    box-shadow: 0px 0px 10px 2px white;
    transition: box-shadow 0.5s;
    transform: scale(1.1);
    transition: transform 1s;
}

.container-txt-sobre{
    display: block;
    margin: auto;
    padding: 25px ;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 2em; 
}

.container-txt-sobre a{
    color: white;
    text-decoration: underline;
}

.container-txt-sobre a:hover{
    color: #ffffff98;
}

#projetos{
    height: 100vh;
}

#projetos h2{
    text-align: center;
    margin: 20px;
}
#projetos p{
    text-align: center;
    margin: 20px;
}

.container-img-proj{
    display: block;
    margin: auto;
    width: max-content;
    box-shadow: 0px 0px 7px 1px #0000006c;
    border-radius: 20px;
}

.img-proj{
    display: block;
    margin: auto;
    width: 350px;
    height: 250px;
    background-image: url(../imagens/em-breve.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.txt-proj{
    width: 350px;
    height: 150px;
    display: block;
    margin: auto;
}

.container-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn-estilo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.container-btn img{
    width: 40px;
}

#btn-git{
    width: 175px;
    background-color: #282828;
    border-bottom-left-radius: 20px;
}

#btn-git:hover{
    background-color: #646464b6;
    transition: background-color 1.5s;
}

#btn-tela{
    width: 175px;
    background-color: #282828;
    border-bottom-right-radius: 20px;
}

#btn-tela:hover{
    background-color: #646464b6;
    transition: background-color 1.5s;
}

.container-btn hr{
    height: 50px;
    width: 1px;
    background-color: white;
    border: none;
}

.container-btn a{
    color: white;
}
